<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head.html %}
<link rel="icon" type="image/x-icon" href="http://about-jiyoon.github.io/images/favicon.ico" />
  </head>
  <body>
<div class="main_container">  
<div class="header">
  <h1>UI Designer — Jiyoon Kim<br>
    <a href="mailto: about.jiyoon@gmail.com">about.jiyoon@gmail.com</a></h1>
</div>

<div class="container">
<div class="subject">Work Experience</div>
<div class="subject2">
  <div class="contents">2013 — designer at <a href="https://www.facebook.com/useobab/" target="_blank"> Useobab</a></div>
  <div class="contents">2014 — designer at <a href="" target="_blank">Tastelab</a></div>
  <div class="contents">2014 ~ 2016  — designer at <a href="https://winevisionpress.com" target="_blank">Winevision</a>
  <ul>
    <li><a href="https://www.facebook.com/WINEVISIONWSET/" target="_blank">winevision.kr</a></li>
    <li><a href="https://mashija.com" target="_blank">mashija.com</a></li>
    <li><a href="https://www.facebook.com/KSOMMGUILD/" target="_blank">korea sommelier of the year</a></li>
  </ul>
    </div>
  <div class="contents">2016 — Visual designer at Samsung Design Membership</div>
  <div class="contents">2016 — UI designer at <a href="https://www.facebook.com/datableco/" target="_blank">Datable</a></div>
  </div>
</div>

<div class="container">
  <div class="subject">Follow me on</div>
  <div class="subject2">
  <ul class="sns">
    <li><a href="https://facebook.com/about.jiyoon">Facebook</a></li>
    <li><a href="https://instagram.com/_jinnie_kim_">Instagram</a></li>
    <li><a href="https://www.behance.net/about-jiyoon/">Behance</a></li>
  </ul>
  </div>
</div>
</div>

  </body>

</html>
