<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head.html %}

  </head>
  <body>
<div class="main_container">  
<div class="header">
  <h1>UI Designer — Jiyoon Kim<br>
    <a href="">about.jiyoon@gmail.com</a></h1>
</div>

<div class="container">
<div class="subject">Work Experience</div>
<div class="subject2">
  <div class="contents">2013 — designer at <a href=""> Useobab</a></div>
  <div class="contents">2014 — designer at <a href="">Tastelab</a></div>
  <div class="contents">2014 ~ 2016  — designer at <a href="">Winevision</a>
  <ul>
    <li><a href="">winevision.kr</a></li>
    <li><a href="">mashija.com</a></li>
    <li><a href="">korea sommelier of the year</a></li>
  </ul>
    </div>
  <div class="contents">2016 — Visual designer at Samsung Design Membership</div>
  <div class="contents">2016 — UI designer at <a href="">Datable</a></div>
  </div>
</div>

<div class="container">
  <div class="subject">Follow me on</div>
  <div class="subject2">
  <ul class="sns">
    <li><a href="">Facebook</a></li>
    <li><a href="">Instagram</a></li>
    <li><a href="">Behance</a></li>
  </ul>
  </div>
</div>
</div>

  </body>

</html>
